@charset "utf-8";

/* ----------------------------------------------------------------
*	01. Main
*	02. Global Navigation
*	03. Table
*	04. Accordion
----------------------------------------------------------------- */

/* ----------------------------------------------------------------
01. Main
----------------------------------------------------------------- */

.main {
padding-top: 30px;
}
.mainInner {
margin: 0 auto;
width: 760px;
}
.mainTitle {
font-size: 24px;
margin-bottom: 20px;
}


/* ----------------------------------------------------------------
02. Global Navigation
----------------------------------------------------------------- */

.gNavList {
background-color: #ebe8e8;
display: flex;
justify-content: space-between;
}
.gNavListItem {
font-size: 18px;
text-align: center;
width: 200px;
}
.gNavListItem > a {
align-items: center;
color: #666565;
display: flex;
justify-content: center;
padding: 5px 0;
width: 100%;
}


/* ----------------------------------------------------------------
03. Table
----------------------------------------------------------------- */

.tblWrapper {
margin-bottom: 20px;
}
.tbl {
border-color: #b3b3b3;
width: 100%;
}
.tblTitle {
font-size: 16px;
margin-bottom: 10px;
}

thead th {
background-color: #cbcbcb;
padding: 3px;
text-align: center;
}
td {
padding: 3px 10px;
}

/* --- table初期設定 --- */
.tblText.isHidden {
display: none;
}
tbody > tr.isHidden {
display: none;
}


/* ----------------------------------------------------------------
04. Accordion
----------------------------------------------------------------- */

.acd {
border: solid 1px ;
margin-bottom: 20px;
position: relative;
}
.acdTitle {
background-color: #ebe8e8;
padding: 7px 12px;
}
.acdIcon {
border: 8px solid transparent;
border-bottom: 15px solid #b3b3b3;
cursor: pointer;
display: block;
height: 0;
position: absolute;
right: 10px;
top: 3px;
width: 0;
}
.acdInner {
&-group {
padding: 20px;
}
&-menu {
padding: 12px;
}
}

/* --- クリック時に▼の向きを変える --- */
.acdIcon.is-active {
top: 12px;
transform: rotateX(180deg);
}
/* --- クリック時に中身を非表示にする --- */
.acdInner.is-hidden {
display: none;
}